<h1>connect. compete. stand out.</h1>
<p>Intro video comes here</p>
<p>Sign-up box comes here</p>
<p>WRLD is a video-based online competition platform that brings together friends and competitors from all over the world to showcase their skills, meet like-minded people and above all, have fun!</p>

<%= render 'layouts/sign_in_form' %>
