<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => Event %></h1>
</div>
<%= render :partial => 'form' %>


<script>

$('#event_privy').click(function(){
	if($('#event_privy').is(':checked')){
		$('#bet_holder').removeClass('hidden');
	}else{
		$('#bet_holder').addClass('hidden');
	}
});
// $('#event_privy').toggle("slow", function(){
// 	alert('yolo');
// });
// if($('#event_privy').is(':checked')){
// 	$('#bet_holder').show();
// }

</script>

