<!DOCTYPE html>
<html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="http://fonts.googleapis.com/css?family=Raleway:300,900,100,600,400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
  <link href="http://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet" property="stylesheet" type="text/css" media="all">


  <title>WRLD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="http://vjs.zencdn.net/5.10.7/video-js.css" rel="stylesheet">

  <!-- If you'd like to support IE8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
</head>
<body>
	<%#= render partial: "elements/navbar" %>
	


		<%= yield %>





<script>
  var tpj=jQuery;
  var revapi14;
  tpj(document).ready(function() {
  if(tpj("#rev_slider_14_1").revolution == undefined){
  revslider_showDoubleJqueryError("#rev_slider_14_1");
  }else{
  revapi14 = tpj("#rev_slider_14_1").show().revolution({
  sliderType:"standard",
  jsFileLocation:"../../revolution/js/",
  sliderLayout:"fullscreen",
  dottedOverlay:"none",
  delay:9000,
  navigation: {
  keyboardNavigation:"off",
  keyboard_direction: "horizontal",
  mouseScrollNavigation:"on",
  onHoverStop:"off",
  touch:{
  touchenabled:"on",
  swipe_threshold: 75,
  swipe_min_touches: 1,
  swipe_direction: "vertical",
  drag_block_vertical: false
  }
  },
  responsiveLevels:[1240,1024,778,480],
  gridwidth:[1240,1024,778,480],
  gridheight:[868,768,960,720],
  lazyType:"none",
  shadow:0,
  spinner:"off",
  stopLoop:"on",
  stopAfterLoops:0,
  stopAtSlide:1,
  shuffle:"off",
  autoHeight:"off",
  fullScreenAlignForce:"off",
  fullScreenOffsetContainer: "",
  fullScreenOffset: "",
  disableProgressBar:"on",
  hideThumbsOnMobile:"off",
  hideSliderAtLimit:0,
  hideCaptionAtLimit:0,
  hideAllCaptionAtLilmit:0,
  debugMode:false,
  fallbacks: {
  simplifyAll:"off",
  nextSlideOnWindowFocus:"off",
  disableFocusListener:false,
  }
  });
  }
  }); /*ready*/
</script>

	<script src="http://vjs.zencdn.net/5.10.7/video.js"></script>
</body>
</html>
